*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right:8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 200px;
    cursor: pointer;
    margin: 30px 0;
}
.menu{
    width: 200px;
    cursor: pointer;
    display: none;
}
/* adding and styling links with nav */
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size:  14px;
}
/* colour on cursor hover on menus */
nav ul li a:hover{
    color: rgba(170, 19, 19, 0.933);
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
/* content styling and font */
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2{
    font-size: 54px;
}
.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}
.col-1 h4{
    margin: 30px 0;
    font-size: 20px;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #ff0800, #f5584d);
    border-radius: 6px;
    cursor: pointer;
    /* slight animation on the button for hover */
    transition: width 0.5s;
}
button img{
    width: 30px;
    display: none;
}
button:hover img{
    display: block;
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
/* styling image */
.col-2 .preworkout{
    width: 90%;
}
.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#808080, #555555);
    border-radius: 20px 0 0 20px;
    height: 10%;
    width: 150%;
    z-index: -1;
    transform: translateX(150px);
}
.add-btn img{
    width: 35px;
    margin-bottom: 5px;
}
.add-btn{
    text-align: center;
    color: black;
    cursor: pointer;
}
/* social media icons and styles */
.social-links img{
    height: 40px;
    margin:30px;
    cursor: pointer;
}
.social-links{
    text-align: center;
}

/* Styling for mobile and tablet with media queries */
@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: linear-gradient(#ff469f, #ff6062);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu{
        display: block;
    }
    #menuclick{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50x 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .preworkout{
        width: 75%;
    }
    .color-box{
        transform: translateX(75px);
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 15px;
    }
}
